*{
  margin:0;
  box-sizing: border-box;
}

body {
  background-color: #414535 ;
  color: white;
}

a {
  color: #FFF;
}
/*-----Navigation Bar-------*/
nav {
  background-color: #618985 ;
  width: auto;
  height: 70 px;
  display:flex;
  justify-content: flex-end;
  margin-top:20px;
}
nav ul{
  height: 100%;
  padding: 0px;
}
nav li {
  display:inline-block;
  background-color: cornflowerblue;
  text-align: center;
  padding:10px;
}
header a {
  display: block;
  text-decoration: none;
  width: 100px;
  padding: 10px;
}
/*--------Heart-------*/
.heart {
  position: absolute;
  margin: auto;
  top: 30px;
  left: 30px;
  background-color: white;
  height: 50px;
  width: 50px;
  transform:rotate(-45deg) ;
  animation-name:rainbow;
  animation-duration:4s;
  animation-iteration-count: infinite;
}
@keyframes rainbow{
  0%{
    background-color:red;
  }
  20%{
    background-color:green;
  }
  40%{
    background-color:yellow;
  }
  60%{
    background-color:purple;
  }
  80%{
    background-color:blue;
  }
  99%{
    background-color:red;
  }
  100%{
    background-color:red;
  }
}

.heart::after {
  background-color: white;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
  animation-name:rainbow;
  animation-duration:4s;
  animation-iteration-count: infinite;
}
.heart::before {
  content:"";
  background-color: white;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
  animation-name:rainbow;
  animation-duration:4s;
  animation-iteration-count: infinite;
}
/*--------------------*/
/*nav a:hover {
  background-color: #7CA29E;
  color: #414535;
  width: 100%;
}
/*---------------------*/
/* -------------ID--------------*/
#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about h1 {
  font-size: 64px;
  line-height: 2em;
  color: #7CA29E;
}

#about p {
  font-size: 24px ;
}
/* -----------------------  */
/*-----------Projects--------------*/
#projects {
  background-color:#38aecc;
  padding:48px;
  text-align:center;
}
#projects h2 {
  font-size: 40px;
  color: #8C271E;
}
.project-link {
  display:inline-block;
  max-width:300px;
  background-color:#183446;
  text-decoration:none;
  color:white;
  margin:12px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.7), 5px 6px 6px rgba(0,0,0,0.7);
}
.project-img{
  width:100%;
  display:block;
}
.project-title{
  margin-top:20px;
  margin-bottom:20px;
}
.project-link:hover{
  box-shadow: 5px 20px 40px rgba(0,0,0,0.7), 5px 10px 10px rgba(0,0,0,0.7);
}
/* ---------------- */
/*-----button---------------*/
#button {
  display: inline-block;
  padding: 20px;
  background-color: #183446;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0,0,0,0.7), 5px 6px 6px rgba(0,0,0,0.7);
}

#button:hover{
  background-color: #CA1916;
  transition:0.6s;
  box-shadow:20px 10px 20px rgba(0,0,0,0.19), 20px 6px 6px rgba(0,0,0,0.23);
  border-radius: 4px;  
}
/*----------------------*/
.contact_title {
  text-align:center;
}
.contact_title h2 {
  font-size: 4rem;
  font-weight:500;
  font-family: 'Raleway', sans-serif;
}
.contact_title p{
  font-size: 1.25rem;
  font-weight: 400;
  font-style: italic;
} 

#contact {
  padding-top: 120px;
  padding-bottom: 120px;
}

#list {
  margin-top:60px;
  text-align: center;
}
#list li {
  display:inline-block;
  margin-left:40px ;
  margin-bottom: 40px;
  font-size: 1.75rem;
}
#list li:hover{
  transform: skewY(-3deg);
}
/*--------footer-------*/
footer div {
  display: inline-block;
  margin:40px;
}
footer {
  display:flex;
  justify-content: space-between;
  text-align: center;
  border-top: 3px solid #ca1916;
}