*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #414535 ;
  color: white;
}

a {
  color: #FFF;
}

nav {
  background-color: #618985 ;
  height: 71px;
  position:relative;
}

ul {
  position: absolute;
  right: 0;
}

nav li {
  display:inline-block;
}

nav a {
  padding: 24px;
  display: block;
  text-decoration: none;
  font-size: 20px;
}

nav a:hover {
  background-color: #7CA29E;
  color: #414535;
}

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#about h1 {
  font-size: 64px;
  line-height: 2em;
  color: #7CA29E;
}

#about p {
  font-size: 24px ;
}

#projects {
  background-color: #F2E3BC;
  padding: 112px 32px;
  text-align: center;
}

section h2 {
  font-size: 40px;
  color: #8C271E;
  margin-bottom: 48px;
}

.img {
  max-width: 522px;
  background-color: #414535;
  margin-bottom: 30px;
  display: inline-block;
}

#projects div img{
  width: 100%;
  margin-bottom: 20px;
}

#projects a {
  font-size: 24px;
  display: block;
  padding-bottom: 32px;
}